<h3 class="m-5">ジャンル編集</h3>
<div class="mx-auto" style="width: 700px;">
  <%= form_with model:[:admin,@genre], local:true do |f| %>
    <div class="my-4">
      <span class="mx-3"><%= f.label :name, "ジャンル名" %></span>
      <%= f.text_field :name, size:50 %>
      <span class="mx-3"><%= f.submit '変更を保存', class: 'btn btn-primary' %></span>
    </div>
  <% end %>
</div>